@model StudentManager.Models.LoginInformation

@{
    ViewData["Title"] = "Authentication";
}

<h2>Authentication</h2>

<h4>LoginInformation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PostLogin">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="redirectUrl" value="@ViewData["redirectUrl"]" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
